.conteiner .right p{
	margin-left: 10px;
	margin-top: 12px;
}

.conteiner .right .widget98p20px{
	width: 98%; 
	height: 20px; 
	margin-top: 10px;
}

.conteiner .right .widget80p20px{
	width: 80%; 
	height: 20px; 
	margin-top: 10px;
}

.conteiner .right .widget59p20px{
	width: 59%;
	height: 20px; 
	margin-top: 10px;
}

.conteiner .right .widgetw17px{
	width: 17%; 
}

.conteiner .right .del_widgetw17px{
    width: 17%;
}

.conteiner .right .widgetw20p22px{
    width: 20%;
    height: 22px;
}

.conteiner .right .widgetw98px{
	width: 98%; 
	margin-top: 10px;
}

.conteiner .right .widget200x20px{
	width: 200px; 
	height: 20px; 
	margin-top: 10px;
	
}

.conteiner .right .widget200x20px{
	width: 200px; 
	height: 20px; 
	margin-top: 10px;
}

.conteiner .right .widget27x20px{
	width: 27%; 
	height: 20px; 
	margin-top: 10px;
}

.conteiner .right .widget27x20pxOffset{
	width: 27%; 
	height: 20px; 
	margin-top: 10px;
	margin-left: 72px;
}

.conteiner .right .widget98p90p{
	width: 98%; 
	height: 90%; 
	margin-top: 10px;
}

.conteiner .right .widget200px{
	width: 200px;
	height: 100px; 
}

.conteiner .right .coordinate{
	width: 98%;
	height: 20px; 
	margin-top: 10px;
}

.conteiner .right .widget0x20px{
	height: 20px;
}

.conteiner .right .widget300x300px{
	width: 90%; 
	height: 90%;
	background: #000;
	margin-top: 10px;
}

.conteiner .right .widget50p20px{
	float: right;
	width: 50%;
	height: 20px;
	margin-top: 10px;
	margin-right: 10px;
}

/* ������� */

.conteiner .right .widget_main_news{
	position: relative;
	background: #808080;
	width: 99%; height: 95%; border-radius: 5px; margin: 5px;
}

.hide_item{
    opacity: 0;
}

.show_item{
    opacity: 1;
}

.image{

}