.conteiner .right p{
	margin-left: 10px;
	margin-top: 12px;
}

.widgetlang{
    width: 430px;
    height: 20px;
    margin-top: 10px;
}

.widget98p20px{
	width: 428px;
	height: 20px; 
	margin-top: 10px;
}

.widget98p90p{
    width: 424px;
    height: 135px;
    margin-top: 10px;
}

/* phone begin */

.widget59p20px{
	width: 59%;
	height: 20px; 
	margin-top: 10px;
}

.widgetw20p22px{
    width: 20%;
    height: 22px;
}

.widgetw17px{
	width: 17%;
}

/* phone end */

.widgetw98px{
    width: 100%;
    margin-top: 10px;
}

.widget80p20px{
    width: 80%;
    height: 20px;
    margin-top: 10px;
}

.del_widgetw17px{
    width: 17%;
}

.widget27x20px{
    width: 35px;
    height: 20px;
    margin-top: 10px;
}

.widget200x20px{
	width: 200px; 
	height: 20px; 
	margin-top: 10px;
	
}

.widget200x20px{
	width: 200px; 
	height: 20px; 
	margin-top: 10px;
}



.widget27x20pxOffset{
	width: 4%;
	height: 20px; 
	margin-top: 10px;
	margin-left: 72px;
}

.widget200px{
	width: 200px;
	height: 100px; 
}

.coordinate{
	width: 98%;
	height: 20px; 
	margin-top: 10px;
}

.conteiner .right .widget0x20px{
	height: 20px;
}

.widget300x300px{
	width: 90%; 
	height: 90%;
	background: #000;
	margin-top: 10px;
}

.widget50p20px{
	float: right;
	width: 50%;
	height: 20px;
	margin-top: 10px;
	margin-right: 10px;
}

/* ������� */

.widget_main_news{
	position: relative;
	background: #808080;
	width: 99%; height: 95%; border-radius: 5px; margin: 5px;
}

.hide_item{
    opacity: 0;
}

.show_item{
    opacity: 1;
}

.image{

}