<div class="demo" style=<%="'width: " + options.width + "; height: " + options.height + ";'" %> >
    <div class="infobar">
        <div class="icomin"><div id="priceLevel">$$$$$</div></div>

        <img src="js/test_cr_plagins/img/question_mark.jpg" alt="Логотип" id="logo" class="passe-partout">
        <div id="logo"></div>
        <div class="subway"><select id="idCompany"></select></div>
        <div class="icomin">
	        <div id="favourite" style=" font-style: serif; font-size: 10pt; float: left;"><img class="img_favourite" src="images/heartred.png" style="width: 10px; height: 10px;">____</div>
        </div>
        <div id="foto"></div>
	        <img src="js/test_cr_plagins/img/question_mark.jpg" alt="Логотип" id="logo" class="passe-partout">
            <div class="subway"><select id="textAddress"></select></div>

        <div style=" font-style: serif; font-size: 10pt; float: left; padding-top: 5px; padding-left: 5px;">
	        <div id="address_subway" class="subway" >Метро: __________</div>
	        <div id="address_rating" class="subway">Рейтинг: ____</div>
	        <div id="rating_count" class="subway">Поситители: ____</div>
	        <div id="address_count_review" class="subway">Кол-во отзывов: ____</div>
	    </div>
    </div>
	<br>
    <div class="menubar">
        <ul class="menu">
	        <li>
	            <a id="m_news" href="#">Новости</a>
	        </li>
	        <li>
	            <a id="m_menu" href="#">Меню</a>
	        </li>
	        <li>
	            <a id="m_info" href="#">Информация</a>
	        </li>
	        <li>
	            <a id="m_reviews" href="#">Отзывы</a>
	        </li>
	        <li>
	            <a id="m_interior" href="#">Интерьер</a>
	        </li>
	        <li>
	            <a id="m_clients" href="#">Клиенты</a>
	        </li>
	        <li>
	            <a id="m_settings" href="#">Настройки</a>
	        </li>
	        <li>
	            <a id="m_photoreports" href="#">Фотоотчеты</a>
	        </li>
        </ul>
    </div>
</div>