<div class="demo">
    <div class="infobar">
        <div class="icomin"><div id="priceLevel">$$$$$</div></div>

        <!---- <img src="" alt="Логотип" id="logo" class="passe-partout"> --->
        <div id="logo"></div>

        <p align="center">
            <!---
               <select id="idCompany" class="styled"><option>-- Компания --</option></select>	--->
            <select id="idCompany"></select>
        </p>

        <div class="icomin">
            <img class="img_favourite" src="images/heartred.png">
            <div id="favourite"></div>

        </div>
        <div id="foto"></div>

        <p align="center">
            <!---
               <select id="textAddress" style="height: 40px;" class="styled"><option>-- Адрес --</option></select> --->
            <select id="textAddress"></select>
        </p>
        <p id="address_subway" class="subway">Метро: </p>

        <div id="address_rating" class="subway">Рейтинг: </div>
        <div id="rating_count" class="subway">Поситители: </div>
        <div id="address_count_review" class="subway">Кол-во отзывов: </div>
    </div>
    <div class="menubar">
        <ul class="menu">

        </ul>
    </div>
</div>