<div class="demo">
<div class="name_page">Информация:</div>
	<div class="language_selection">
	
		<div class="canvas_text"><p>Язык:</p></div>
				<div class="canvas_left" align="left">
				<select id="language_right" disabled="true" class="widget98p20px">
					<!---
					<option>RU</option>
					-->
				</select>
				&nbsp&nbsp
				</div>
				<div class="canvas_right" align="left">
				<select id="language_left" class="widget98p20px">
					<!--
					<option>RU</option>
					<option>EN</option>
					-->
				</select>
				&nbsp&nbsp
				</div>
	</div>
	
	<div class="title" style="color: green;">&nbsp&nbsp&nbspИнформация о компании:</div>
		<!-- <div class="canvas_text">&nbsp</div><div class="canvas_note_small"><div class="canvas_left"><div class="widget0x20px"></div></div><div class="canvas_left"><div class="widget0x20px"></div></div></div> --->
		<div class="canvas_note_small">
			<div class="canvas_text"><p>Название:</p></div>
			<div class="canvas_left" align="left"><input id="name_company_right" class="widget98p20px"></input></div>
			<div class="canvas_left" align="left"><input id="name_company_left" class="widget98p20px"></input></div>
		</div>
		
		<div class="canvas_note_big">
			<div class="canvas_text"><p>Описание(компания):</p></div>
			<div class="canvas_left" align="left"><textarea id="description_company_right" class="widget98p90p"></textarea></div>
			<div class="canvas_left" align="left"><textarea id="description_company_left" class="widget98p90p"></textarea></div>
		</div>
		
		<div class="canvas_note_small">
			<div class="canvas_text"><p>Юридическое лицо:</p></div>
			<div class="canvas_left" align="left"><input id="juridical_person_right" class="widget98p20px"></input></div>
			<div class="canvas_left" align="left"><input id="juridical_person_left" disabled class="widget98p20px"></input></div>	
		</div>
		
		<div class="canvas_text"><p>Сайт:</p></div>
		<div class="canvas_note_small">
			<div class="canvas_left" align="left"><input id="site_right" class="widget98p20px"></input></div>
			<div class="canvas_left" align="left"><input id="site_left" disabled class="widget98p20px"></input></div>	
		</div>
		
		<div class="canvas_note_small">
			<div class="canvas_text"><p>Средний счет без нал.:</p></div>
			<div class="canvas_left" align="left"><input id="no_cash_right" class="widget98p20px"></input></div>
			<div class="canvas_left" align="left"><input id="no_cash_left" disabled class="widget98p20px"></input></div>
<!---			
			<div class="canvas_mid" align="left"><input class="widget98p20px"></input></div>
--->			
		</div>
	
	<div class="title" style="color: green;"><p>Информация об адресе:</p></div>
	
		<div class="canvas_note_small">
			<div class="canvas_text"><p>Дата открытия:</p></div>
			<div class="canvas_left" align="left"><input id="opening_date_right" class="widget98p20px"></input></div>
			<div class="canvas_left" align="left"><input id="opening_date_left" disabled class="widget98p20px"></input></div>
<!---
			<div class="canvas_mid" align="left"><input class="widget98p20px"></input></div>
--->
		</div>
		
		<div class="canvas_note_big">
			<div class="canvas_text"><p>Описание(адрес):</p></div>
			<div class="canvas_left" align="left"><textarea id="description_address_right" class="widget98p90p"></textarea></div>
			<div class="canvas_left" align="left"><textarea id="description_address_left" class="widget98p90p"></textarea></div>
		</div>		
		
		<div class="canvas_note_small">
			<div class="canvas_text"><p>Телефон:</p></div>
			<div class="canvas_left" align="left"><input id="phone_right" class="widget59p20px"></input>
			<select id="type_phone" class="widgetw20p22px">

			</select>
			<button id="add_phone" class="widgetw17px">Add</button></div>
			<div class="canvas_left" align="left"><input id="phone_left" disabled class="widget98p20px"></input></div>
		</div>
		
		<div class="canvas_note_small">
			<div class="canvas_text" style="color: grey;"><p>Основной:</p></div>
			<div class="canvas_left" align="left"><input id="phone_right" class="widget98p20px"></input></div>
			<div class="canvas_left" align="left"><input id="phone_left" disabled class="widget98p20px"></input></div>
		</div>

        <div id="ptr_phone"></div>
<!---
		<div class="canvas_note_small">
			<div class="canvas_text" style="color: grey;"><p>Факс:</p></div>
			<div class="canvas_left" align="left"><input id="phone_right" disabled class="widget80p20px"></input>
			<button id="del_phone" class="widgetw17px">Del</button></div>
			<div class="canvas_left" align="left"><input id="phone_left" disabled class="widget98p20px"></input></div>
		</div>		
-->
		<div class="canvas_note_small">
			<div class="canvas_text"><p>Индекс:</p></div>
			<div class="canvas_left" align="left"><input id="postal_code_right" class="widget98p20px"></input></div>
			<div class="canvas_left" align="left"><input id="postal_code_left" disabled class="widget98p20px"></input></div>
<!---
			<div class="canvas_mid" align="left"><input class="widget98p20px"></input></div>
--->
		</div>	

		<div class="canvas_note_small">
			<div class="canvas_text"><p>Кол-во посадочных мест:</p></div>
			<div class="canvas_mid"><div class="widget98p20px"></div></div>
		</div>
		
		
		<div class="canvas_note_small">
			<div class="canvas_text" style="color: grey;"><p>Всего:</p></div>
			<div class="canvas_left" align="left"><input id="capacity_all_right" class="widget98p20px"></input></div>
			<div class="canvas_left" align="left"><input id="capacity_all_left" disabled class="widget98p20px"></input></div>
		</div>
		
		<div class="canvas_note_small">
			<div class="canvas_text" style="color: grey;"><p>Ресторан:</p></div>
			<div class="canvas_left" align="left"><input id="capacity_indoor_right" class="widget98p20px"></input></div>
			<div class="canvas_left" align="left"><input id="capacity_indoor_left" disabled class="widget98p20px"></input></div>
		</div>
		
		<div class="canvas_note_small">
			<div class="canvas_text" style="color: grey;"><p>Терраса:</p></div>
			<div class="canvas_left" align="left"><input id="capacity_outdoor_right" class="widget98p20px"></input></div>
			<div class="canvas_left" align="left"><input id="capacity_outdoor_left" disabled class="widget98p20px"></input></div>
		</div>
		
		<div class="canvas_note_small">
		<div class="canvas_text"><p>Страна:</p></div>
		<div class="canvas_left" align="left"><input id="country_right" class="widget98p20px"></input></div>
		<div class="canvas_left" align="left"><input id="country_left" class="widget98p20px"></input></div>	
		</div>

		<div class="canvas_note_small">
		<div class="canvas_text"><p>Город:</p></div>
		<div class="canvas_left" align="left"><input id="city_right" class="widget98p20px"></input></div>
		<div class="canvas_left" align="left"><input id="city_left" class="widget98p20px"></input></div>	
		</div>
		
		<div class="canvas_note_small">
		<div class="canvas_text"><p>Метро:</p></div>
		<div class="canvas_left" align="left"><input id="subway_right" class="widget98p20px"></input></div>
		<div class="canvas_left" align="left"><input id="subway_left" class="widget98p20px"></input></div>	
		</div>	
	
		<div class="canvas_note_big">
			<div class="canvas_text"><p>Адрес:</p></div>
			<div class="canvas_left" align="left"><textarea id="address_right" class="widget98p90p"></textarea></div>
			<div class="canvas_left" align="left"><textarea id="address_left" class="widget98p90p"></textarea></div>
		</div>
		
		<div class="canvas_note_small">
			<div class="canvas_text" style="color: grey;"><p>Google Map (test):</p></div>
			<div class="canvas_left" align="left"><button id="test_api_googlemap_right" class="widgetw98px">Проверить адрес</button></div>
			<div class="canvas_left" align="left"><button id="test_api_googlemap_left" class="widgetw98px">Проверить адрес</button></div>
		</div>	
		
	<div class="title"><p>Время работы ресторана:
						<span style="float: right; padding-right: 268px;">Кухня:</span></p></div>

		<div class="canvas_note_small">
		<div class="canvas_text" style="color: grey;"><p>Понедельник:</p></div>
		<div class="canvas_mid" align="left">
		<input id="monday_left" class="widget27x20px"></input>&nbsp&nbsp-&nbsp&nbsp
		<input id="monday_right" class="widget27x20px"></input>
		<input id="monday_kitchen" class="widget27x20pxOffset"></input>
		</div>
		</div>
	
		<div class="canvas_note_small">
		<div class="canvas_text" style="color: grey;"><p>Вторник:</p></div>
		<div class="canvas_mid" align="left">
		<input id="tuesday_left" class="widget27x20px"></input>&nbsp&nbsp-&nbsp&nbsp
		<input id="tuesday_right" class="widget27x20px"></input>
		<input id="tuesday_kitchen" class="widget27x20pxOffset"></input></div>
		</div>

		<div class="canvas_note_small">
		<div class="canvas_text" style="color: grey;"><p>Среда:</p></div>
		<div class="canvas_mid" align="left">
		<input id="wednesday_left" class="widget27x20px"></input>&nbsp&nbsp-&nbsp&nbsp
		<input id="wednesday_right" class="widget27x20px"></input>
		<input id="wednesday_kitchen" class="widget27x20pxOffset"></input></div>
		</div>

		<div class="canvas_note_small">
		<div class="canvas_text" style="color: grey;"><p>Четверг:</p></div>
		<div class="canvas_mid" align="left">
		<input id="thursday_left" class="widget27x20px"></input>&nbsp&nbsp-&nbsp&nbsp
		<input id="thursday_right" class="widget27x20px"></input>
		<input id="thursday_kitchen" class="widget27x20pxOffset"></input></div>
		</div>

		<div class="canvas_note_small">
		<div class="canvas_text" style="color: grey;"><p>Пятница:</p></div>
		<div class="canvas_mid" align="left">
		<input id="friday_left" class="widget27x20px"></input>&nbsp&nbsp-&nbsp&nbsp
		<input id="friday_right" class="widget27x20px"></input>
		<input id="friday_kitchen" class="widget27x20pxOffset"></input></div>
		</div>

		<div class="canvas_note_small">
		<div class="canvas_text" style="color: grey;"><p>Суббота:</p></div>
		<div class="canvas_mid" align="left">
		<input id="saturday_left" class="widget27x20px"></input>&nbsp&nbsp-&nbsp&nbsp
		<input id="saturday_right" class="widget27x20px"></input>
		<input id="saturday_kitchen" class="widget27x20pxOffset"></input></div>
		</div>
		
		<div class="canvas_note_small">
		<div class="canvas_text" style="color: grey;"><p>Воскресенье:</p></div>
		<div class="canvas_mid" align="left">
		<input id="sunday_left" class="widget27x20px"></input>&nbsp&nbsp-&nbsp&nbsp
		<input id="sunday_right" class="widget27x20px"></input>
		<input id="sunday_kitchen" class="widget27x20pxOffset"></input></div>
		</div>		
		
	<div class="title"><p>Место расположения:</p>
	<!---
	<input type="button" value="Сохранить" style="float: left;"></input>
	<input type="button" value="&nbsp?&nbsp" style="float: left;"></input>
	--->
	</div>
	
		<div class="canvas_note_small">
			<div class="canvas_text"><p>Долгота:</p></div>
			<div class="canvas_left" align="left">
			<input id="current_longitude" class="widget98p20px"></input>
			</div><div class="canvas_left" align="left">
			<p id="msg_current_longitude" class="widget98p20px"></p></div>				
		</div>
		<div class="canvas_note_small">
			<div class="canvas_text"><p>Широта:</p></div><div class="canvas_left" align="left">
			<input id="current_latitude" class="widget98p20px"></input>
			</div><div class="canvas_left" align="left">
			<p id="msg_current_latitude" class="widget98p20px"></p></div>	
		</div>
		
		<div class="canvas_note_small">
			<div class="canvas_text"><p>Долгота(по адресу):</p></div>
			<div class="canvas_left" align="left">
			<input id="longitude_address" disabled class="widget98p20px"></input>
			</div><div class="canvas_left" align="left"></div>				
		</div>
		<div class="canvas_note_small">
			<div class="canvas_text"><p>Широта(по адресу):</p></div><div class="canvas_left" align="left">
			<input id="latitude_address" disabled class="widget98p20px"></input>
			</div><div disabled class="canvas_left" align="left"></div>	
		</div>
		
		<div class="canvas_note_veryBid">
			<div class="canvas_text"><p>Карта:</p></div><div class="canvas_mid" align="left"><div id="map_canvas" class="widget300x300px"></div></div>	
		</div>
		
		
		<!---
		<div class="canvas_text">&nbsp&nbsp&nbspШирота:</div>
		<div class="canvas_note_small">
			<div class="canvas_mid" align="left"><input class="widget98p20px_OffsetLeft50px"></input></div>	
		</div>
		<div class="canvas_text">&nbsp&nbsp&nbspШирота:</div>
		<div class="canvas_note_small">
			<div class="canvas_mid" align="left"></div>	
		</div>
		-->
	
	<div class="title"></div>
</div>