<style>
	.ui-progressbar .ui-progressbar-value { background-image: url(images/jquery/pbar-ani.gif); }
</style>
<div style=<%="'width: " + options.width + "; height: " + options.height + " ; background-color: #D3D3D3; opacity: 0.8; display: table-cell; vertical-align: middle;'" %> >
<div style="width: 100%;" id="">
<span>
	<% if (options.type == "cyclic") { %>
	<div style="margin: 0 auto; width: 350px; text-align: center; font-style: italic; font-size: 16pt"></div>
	<div style="margin: 0 auto; width: 50px;">
	    <img src="images\page-loader.gif" alt="Фото" id="foto" class="passe-main_loader" style="width: 50px; height: 50px;">
		<div class="msg_loader" style="margin: 0 auto; width: 350px; float: center; font-style: serif; font-size: 10pt"><%= options.msg %></div>
	</div>
	<% } else { %>
	<div class="name_page" style="border: 0px; margin: 0 auto; width: 350px; text-align: center; font-style: italic; font-size: 16pt">Загрузка:</div>
	<div class="canvas_note_main_loader" style="margin: 0 auto; width: 350px;">
		<div class="progressbar" style="height: 15px;"></div>
		<div class="msg_loader" style="margin: 0 auto; width: 350px; text-align: center; font-style: serif; font-size: 10pt"><%= options.msg %></div>
	</div>	
	<% } %>
</span>
</div>
</div>