<div class="demo">
	<div class="name_page">Новости:</div>
	<div class="language_selection">
	
		<div class="canvas_text_news"><p>Язык:</p></div>
		<div class="canvas_left" align="left">
		<select id="language_right" disabled="true" class="widget98p20px">
			<!---
			<option>RU</option>
			-->
		</select>
		&nbsp&nbsp
		</div>
		<div class="canvas_right" align="left">
		<select id="language_left" class="widget98p20px">
			<!--
			<option>RU</option>
			<option>EN</option>
			-->
		</select>
		&nbsp&nbsp
		</div>
	</div>
	<div class="canvas_note_mid_news" align="left">
		<div class="canvas_news_left"><div class="widget_main_news">
		
		
		</div></div>
		<div class="canvas_news_right"><div class="widget_main_news">
		
		</div></div>
	</div>
	<div class="canvas_note_mid_news" align="left">
		<div class="canvas_news_left">
		<div class="widget_main_news">
			<div style="position: absolute; padding-top: 2px; right: 20px;">Привет мир</div>
			<div style="padding-top: 14px; padding-left: 10px; position: relative;">
				<div style="position: absolute; width: 425px; height: 70px; background: red; right: 10px;"></div>
				<div style="border-radius: 1px; width: 70px; height: 70px; background: #e3eaf1;"></div>
			</div>
			<div>
				
			</div>
		</div>
		</div>
		<div class="canvas_news_right"><div class="widget_main_news"></div></div>
	</div>
	<div class="canvas_note_mid_news" align="left">
		<div class="canvas_news_left"><div class="widget_main_news"></div></div>
		<div class="canvas_news_right"><div class="widget_main_news"></div></div>
	</div>
	<div class="canvas_note_mid_news" align="left">
		<div class="canvas_news_left"><div class="widget_main_news"></div></div>
		<div class="canvas_news_right"><div class="widget_main_news"></div></div>
	</div>
	<div class="canvas_news_mid" align="left">
		<div class="widget_main_news">
		
		</div>
	</div>
</div>