<div class="demo">
<div class="name_page">Меню:</div>
<div class="language_selection">

	<div class="canvas_text"><p>Язык:</p></div>
		<div class="canvas_left" align="left"></div>
		<div class="canvas_right" align="left">
			<select id="language_left" class="widget50p20px">
				<!--
				<option>RU</option>
				<option>EN</option>
				-->
			</select>
			&nbsp&nbsp
		</div>
</div>

	<div class="canvas_menu_small">
		<div class="canvas_menu_chain" align="left">Сеть</div>
		<div class="canvas_menu_actively" align="left">Акт.</div>
		<div class="canvas_menu_campaign" align="left">Акц.</div>
		<div class="canvas_menu_foto" align="left">Фото</div>
		<div class="canvas_menu_category" align="left">Категория</div>
		<div class="canvas_menu_name" align="left">Название</div>
		<div class="canvas_menu_description" align="left">Описание</div>
		<div class="canvas_menu_price" align="left">Цена</div>
		<div class="canvas_menu_doc" align="left">Док.</div>
	</div>
	
	<div class="canvas_menu_big">
		<div class="canvas_menu_chain" align="left"></div>
		<div class="canvas_menu_actively" align="left"></div>
		<div class="canvas_menu_campaign" align="left"></div>
		<div id="foto_123" class="canvas_menu_foto" align="left"></div>
		<div class="canvas_menu_category" align="left"></div>
		<div class="canvas_menu_name" align="left"></div>
		<div class="canvas_menu_description" align="left"></div>
		<div class="canvas_menu_price" align="left"></div>
		<div class="canvas_menu_doc" align="left"></div>
	</div>
	<div class="canvas_menu_big">
		<div class="canvas_menu_chain" align="left"></div>
		<div class="canvas_menu_actively" align="left"></div>
		<div class="canvas_menu_campaign" align="left"></div>
		<div id="foto_123" class="canvas_menu_foto" align="left"></div>
		<div class="canvas_menu_category" align="left"></div>
		<div class="canvas_menu_name" align="left"></div>
		<div class="canvas_menu_description" align="left"></div>
		<div class="canvas_menu_price" align="left"></div>
		<div class="canvas_menu_doc" align="left"></div>
	</div>
	<div class="canvas_menu_big">
		<div class="canvas_menu_chain" align="left"></div>
		<div class="canvas_menu_actively" align="left"></div>
		<div class="canvas_menu_campaign" align="left"></div>
		<div id="foto_123" class="canvas_menu_foto" align="left"></div>
		<div class="canvas_menu_category" align="left"></div>
		<div class="canvas_menu_name" align="left"></div>
		<div class="canvas_menu_description" align="left"></div>
		<div class="canvas_menu_price" align="left"></div>
		<div class="canvas_menu_doc" align="left"></div>
	</div>		
</div>

